<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="AppiumAMFAMIOS">
	<parameter name="OS" value = "IOS"/>
    <classes>
     <class name="appiumAMFAM.TC01"/>
     <class name="appiumAMFAM.TC02"/>   
     <class name="appiumAMFAM.TC03"/>
    </classes>
  </test> <!-- Test -->
  <test name="AppiumAMFAMAndroid">
      	<parameter name="OS" value = "ANDROID"/>      	
      <classes>
     <class name="appiumAMFAM.TC01"/>
     <class name="appiumAMFAM.TC02"/>   
     <class name="appiumAMFAM.TC03"/>
      </classes>
  </test>
</suite> <!-- Suite -->
